services:
  prometheus:
    image: prom/prometheus:v3.9.1
    container_name: prometheus
    ports:
      - 9090:9090
    volumes:
      - /home/atlas/prometheus.yml:/etc/prometheus/prometheus.yml
      - /home/atlas/secrets/prometheus:/secrets
    restart: unless-stopped
