services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - /home/atlas/app-data/grafana:/var/lib/grafana # For persistent storage of data and configurations
