services:
  gotify:
    container_name: gotify
    hostname: gotify
    image: gotify/server          # uncomment correct server image
    # image: gotify/server-arm7
    # image: gotify/server-arm64
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /home/atlas/app-data/gotify:/app/data
    environment:
      GOTIFY_DEFAULTUSER_PASS: password   # Change me!!!!!
      GOTIFY_REGISTRATION: false
    labels:
      traefik.docker.network: traefik
      traefik.enable: "true"
      traefik.http.routers.gotify-secure.entrypoints: https
      traefik.http.routers.gotify-secure.middlewares: traefik-https-redirect
      traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme: https
      traefik.http.routers.gotify-secure.rule: Host(`gotify.services.husovich.com`)
      traefik.http.routers.gotify-secure.service: gotify
      traefik.http.routers.gotify-secure.tls: "true"
      traefik.http.routers.gotify-secure.tls.certresolver: myresolver
      traefik.http.routers.gotify.entrypoints: http
      traefik.http.routers.gotify.rule: Host(`gotify.services.husovich.com`)
      traefik.http.services.gotify.loadbalancer.server.port: "80"
    networks:
      - gotify 
      - traefik

  igotify: # (iGotify-Notification-Assistent)
    container_name: igotify
    hostname: igotify
    image: ghcr.io/androidseb25/igotify-notification-assist:latest
    restart: always
    security_opt:
      - no-new-privileges:true
    pull_policy: always
    volumes:
      - /home/atlas/app-data/igotify:/app/data  
    labels:
      traefik.docker.network: traefik
      traefik.enable: "true"
      traefik.http.routers.igotify-secure.entrypoints: https
      traefik.http.routers.igotify-secure.middlewares: traefik-https-redirect
      traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme: https
      traefik.http.routers.igotify-secure.rule: Host(`igotify.services.husovich.com`)
      traefik.http.routers.igotify-secure.service: igotify
      traefik.http.routers.igotify-secure.tls: "true"
      traefik.http.routers.igotify-secure.tls.certresolver: myresolver
      traefik.http.routers.igotify.entrypoints: http
      traefik.http.routers.igotify.rule: Host(`igotify.services.husovich.com`)
      traefik.http.services.igotify.loadbalancer.server.port: "8080"
    networks:
      - gotify
      - traefik

networks:
  gotify:
  traefik:
    external: true
